<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Funcionário</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body class="bg-light">
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">Detalhes do Funcionário</h2>
            </div>
            <div class="card-body">
                <h3 class="card-title">Nome: {{ fun.nome }}</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Data de Nascimento:</strong> {{ fun.data_nascimento }}</li>
                    <li class="list-group-item"><strong>E-mail:</strong> {{ fun.email }}</li>
                    <li class="list-group-item"><strong>Profissão:</strong> {{ fun.profissao }}</li>
                </ul>
            </div>
            <div class="card-footer text-end">
                <button type="button" class="btn btn-success" onClick="history.go(-1)"> Voltar </button>
            </div>
        </div>
    </div>
</body>

</html>